@import '../../assets/styles/variables.scss';
header#top-bar {
	position: fixed;
	top: 0;
	max-height: 75.5px;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(180deg, #ee4c77 35%, #0d0430 200%);
	display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:100%;
    max-width: 500px;
  }
	img {
		height: 2rem;
	}
	.input-search {
		input {
			color: $font-color-white;
		}
	}
	.icon-search {
		position: absolute;
    right: 8px;
		color: $font-color-white;
	}
}

@media (min-width: 700px) {
  header#top-bar {
    
    img {
      height: 3.5rem;
    }
  }
}