@import '../../assets/styles/variables.scss';

#main-layout{
	align-items: start;
}

section.header-navigation{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	color: $font-color-white;
	.MuiIconButton-root{
		color: $font-color-white;
	}
	.back-icon{
		position: absolute;
		left: 0;
	}
}

section.container-empresa {
	max-width: 530px;
	margin-bottom: 2rem;
	margin-top: 6rem;
	article.card-empresa{
		background: #fff;
		padding: 1.2rem;
		p{
			text-align: justify;
			margin: 1.4rem 0;
		}
		header.card-header{
			display: flex;
			justify-content: center;
			align-items: center;
			background: #7dc075;
			width: 100%;
			height: 147.5px;
			span{
				color: $font-color-white;
				font-size: 4rem;
			}
		}
	}
}

@media (min-width: 700px){
	section.header-navigation{
		h1{
			font-size: 1.8rem;
			font-weight:400;
		}
	}
	section.container-empresa {
		margin-top: 10rem;
	}
}
