a{ 
	text-decoration: none;
	color: inherit; 
}
article.empresa-item {
	padding: 0.8rem;
	background: #fff;
	display: flex;
	width: 100%;
	margin: 0.4rem 0;
	align-items: center;
	h3.title{
		font-size: 1.6rem;
	}
	span {
		display: block;
		&.subtitle{
			font-size: 1.2rem;
		}
	}
	img {
		margin-right: 0.8rem;
		height: 6rem;
	}
}
