@import '../../assets/styles/variables.scss';

section {
  &.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .backdrop {
      color: #fff;
    }
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        height: 3.6rem;
        margin: 3rem 0px;
      }
      section {
        p {
          max-width: 350px;
          font-weight: 700;
          font-size: 1.6rem;
          padding: 0.8rem;
          &.information {
            font-weight: 300;
            font-size: 1.2rem;
          }
        }
      }
    }
    form {
      margin: 3rem 0;
      main {
        margin-bottom: 3rem;
        .error-text {
          text-align: center;
          font-size: 0.8rem;
          font-weight: 300;
          margin: 1rem 0;
        }
        .input-text:first-of-type {
          margin-bottom: 1.4rem;
        }
      }
      footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        button {
          background: $color-greeny-blue;
          padding: 1rem 4rem;
          border: none;
          border-radius: 0.4rem;
          color: $font-color-white;
          font-weight: 700;
          text-transform: uppercase;
          width: 90%;
          transition: background 0.4s;
          &:disabled {
            background: #748383;
            opacity: 0.8;
            color: #cccece;
            cursor: not-allowed;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  section {
    &.container {
      max-width: 500px;
      header {
        img {
          height: 5.6rem;
          margin: 3rem 0px;
        }
        section {
          p {
            max-width: 350px;
            font-weight: 700;
            font-size: 2rem;
            padding: 0.8rem;
            &.information {
              font-weight: 300;
              font-size: 1.8rem;
            }
          }
        }
      }
      form {
        main {
          input,
          label {
            font-size: 1.8rem;
          }
          .error-text {
            font-size: 1.3rem;
          }
        }
        footer {
          button {
          }
        }
      }
    }
  }
}
