$color-primary: #ee4c77;
$color-greeny-blue: #57bbbc;
$color-beige: #ebe9d7;
$color-input-disabled: #748383;
$color-error: #ff0f44;

$font-color-light: #38374381;
$font-color: #383743;
$font-color-white: #ffffff;

$color-background: #eeecdb;
