@import '../../assets/styles/variables.scss';

section.container-home {
	max-width: 530px;
	margin-top: 4rem;
	margin-bottom: 2rem;
	p{
		text-align: center;
		margin: 2rem 0;
	}
}

@media (min-width: 700px){
	#main-layout{
		align-items: start;
	}
	section.container-home {
		margin-top: 8rem;
	}
}
